@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*PRUEBAAAAAAAAAAAAAA*/

.videoInicio{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit:cover;
}


.contenedor{
    z-index: 0;
    width: 100%;
    height: 100vh;
    object-fit: contain;
}
.overlayBackgroundInicio{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #1D2142 0%, #1D214200 32%);
}

.contenedorParrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 1300px;
    height: 100vh;
}
.titulo-inicio{
   font-size: 70px;
   font-family: 'Poppins';
   color: #ffff;
   margin-bottom: 30px;
    font-weight: 500;
}   
.subtitulo-inicio{
    font-family: 'Poppins';
    font-size: 20px;
    color: #ffff;

}
@media screen and (max-width: 480px) {
    
    .titulo-inicio{
        font-size: 40px;
        font-family: 'Poppins';
        color: #ffff;
        line-height: 37px;
        text-align: left;
        font-weight: 500;
    }
    .subtitulo-inicio{
        font-family: 'Poppins';
        font-size: 20px;
        color: #ffff;
        font-weight: 200;
    }
    .contenedor{
        width: 100%;
        height: 100vh;
    }
    .videoInicio{
        width: 100%;
        height: 100vh;
    }

    .contenedorParrafo{
         margin: auto;
         width: 90%;
         padding: 20px;
    }
  }
/*vista tablets*/
@media (min-width: 480px) and (max-width: 768px) {
    .contenedor{
        width: 100%;
        height: 100vh;
    }
    .videoInicio{
        width: 100%;
        height: 100vh;
    }
    .subtitulo-inicio{
        font-size: 16px;
        text-align: left;
    }
    .contenedorParrafo{
         margin: auto;
         width: 100%;
    }
    .titulo-inicio{
        font-size: 30px;
        font-family: 'Poppins';
        color: #ffff;
        line-height: 37px;
        text-align: left;
        display: flex;
        justify-content: center;
    }
    .subtitulo-inicio{
        display: flex;
        font-family: 'Poppins';
        font-size: 16px;
        color: #ffff;
        display: flex;
        justify-content: center;
    }
}
/*DESKTOPP*/

@media screen and (max-width:1500px) {
    
}






/*** SECCION1 ***/
.ajusteCards{
    /* padding: 70px 0px 100px 0px; */
    height: auto;
    width: 88%;
    align-items: center;
}
.card-group {
    padding: 5%;
}

.titulo-cards{
    color: #767676;
    font-family: "Raleway", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
}

.card {
    height: 60%;
    border: 0;
}
.bordesCras-inicio{
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #00000010;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.borderCardsLeft{
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #00000010;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.ajusteposicion-seccion1{
    text-align: center;

}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    width: 80%;
    opacity: 0;
    transition: .3s ease;
    background-color: #ffff
}
.card:hover .overlay{
    opacity: 1;
}

.row{
   
    margin: auto !important;
}

.swiperMobi{
    display: none;
}

/*medias*/
@media screen and (max-width: 480px) {
    
    .mySwiperMobiInicio{
        width: 100%;
        height: 50vh;
        text-align: center;
        display: block;
    }
    .cardmobi-swiper{
        width: 70%;
        margin: auto;
    }
    .desactivacionMobi{
        display: none;
    }
    .swiper-button-next:after{
        color: #767676;
    }
    .swiper-button-prev:after{
        color: #767676 !important;
    }
    .card-group{
        flex-direction: column;
    }
  }

  @media (min-width: 480px) and (max-width: 768px) {
 .desactivacionMobi{
     display: none;
 }
 .mySwiperMobiInicio{
     display: block;
     width: 95%;
 }
  }


@media (min-width: 768px) and (max-width:1500px) {
    .ajusteCards{
        width: 100%;
        margin: auto;
        align-items: center;
    }
    .card-group {
        padding: 0;
        margin-top: 70px;
        margin-bottom: 70px;
    }

}



  /***SECCCION 2****/
  .seccion2--flex {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;

  }
  .derecha {
      width: 40%;
      height: 90vh;
      background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1647161501/DESARROLLOSGRUPODELSUD/Lomas_de_Arana-Muestra-1_1_tqpjva.png);
      background-size: cover;
  }
  .izquierda{
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content:space-around;
      margin: auto;
      padding: 240px;
  }
  
  .seccion2-font{
      color: #828282;
      font-family: 'Poppins', Sans-serif;
      font-size: 22px;
      font-weight: 200;
      line-height: 1.6em;
      padding-bottom: 20px;

  }
  .seccion2-titulo {
      color: #1D2142;
      font-family: "Poppins";
      font-size: 45px;   
      padding-bottom: 50px;
      font-weight: 500;
  }
  .boton-seccion2{
      text-decoration: none;
      color: #b5b5b5 !important;
      font-family: "Poppins";
      font-size: 25px;
      color: #767676 !important;
      text-decoration: none;
      padding-top: 150px;
  }

  /*mobile*/
  @media screen and (max-width: 480px) {
      .seccion2--flex{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 0px 0px 30px;
      }
      .izquierda{
          width: 100%;
          height: 50vh;
          padding: 0;
      }
      .seccion2-font{
          font-size: 16px;
          font-weight: 200;
      }
      .seccion2-titulo{
          font-size: 25px;  
          font-weight: 600;
      }
      .derecha{
          width: 100%;
          height: 45vh;
          
      }
      .ajusteMobileSeccion2{
          height: 50vh;
          padding: 10px;
      }
      .boton-seccion2{
          font-size: 13px;
          color: #82AB29 !important;
          text-decoration: none;
          line-height: 1em;
          margin-top: 80px;
      }
      .swiper-slide{
          padding: 70px 0px 30px 0px !important;
      }
      
  }

  @media (min-width: 480px) and (max-width: 768px) {
    .seccion2--flex{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin-top: 60px;
      }
      .izquierda{
          width: 100%;
          padding: 30px;
      }
      .seccion2-font{
          font-size: 16px;
      }
      .seccion2-titulo{
          font-size: 25px;  
      }
      .derecha{
          width: 100%;
          height: 60vh;
          
      }
      .boton-seccion2{
          font-size: 20px;
          color: #82AB29 !important;
          text-decoration: underline;
          line-height: 1em;
          margin-top: 80px;
      }
      .swiper-slide{
          padding: 70px 0px 30px 0px !important;
      }
      .cardmobi-swiper{
        width: 60% !important;
    }
}


@media (min-width: 768px) and (max-width:1500px) {
    .seccion2--flex{
        width: 100%;
        height: 100vh;
        display: flex;
      }
      .derecha{
        width: 50%; 
    }
    .izquierda{
        width: 40%;
    }
    .swiper-slide{
        padding: 70px 0px 30px 0px !important;
    }

}


  /***SECCION3****/
  .seccion3-nav{
    width: 100%;
    height: 20vh;
    background-color:#1D2142;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.seccion3-texto {
    font-family: "Raleway", Sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 40px;
    line-height: 1em;
    margin-right: 100px;
}
.seccion3-redes {
    padding: 15px;
    width: 23%;
    margin-left: 20px;
}

@media screen and (max-width: 480px) {
    .seccion3-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .seccion3-texto{
        text-align: center;
        font-size: 25px;
        line-height: 1.2em;
        margin-right: 0;
        text-align: center;
    }
    .seccion3-redes{
        width: 25%;
        text-align: center;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .seccion3-nav{
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }
    .seccion3-texto{
        text-align: center;
        font-size: 25px;
        line-height: 1.2em;
        margin-right: 0;
        text-align: center;
    }
    .seccion3-redes{
        width: 25%;

    }
    .mySwiperMobiInicio{
        text-align: center;
    }
}


@media screen and (min-width:769px) {
  
}


/**SECCION4****/
.mySwiper1 {
    width: 60%;
    height: 100vh;

  }
  
  .swiper-slide4 {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide2 img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .ajusteCarrusel{
      width: 100%;
      height: 100vh;
      background-image:url(https://res.cloudinary.com/grupo-delsud/image/upload/v1647268505/DESARROLLOSGRUPODELSUD/asdfadsfasd_1_aeddc9.png) !important;
      background: cover !important ;
  }
  .flex-seccion4{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .flexImagenSeccion4{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .button-seccion4{
      border-radius: 20px;
      border: #ffff 2px solid;
      font-family: "Mabry Pro", Sans-serif;
      font-size: 0.9em;
      font-weight: 300;
      line-height: 1em;
      letter-spacing: 0.2px;
      fill: #FFFFFF;
      color: #FFFFFF;
      background-color: #82AB1B;
      border-style: solid;
      border-width: 2px 2px 2px 2px;
      border-color: #FFFFFF;
      border-radius: 30px 30px 30px 30px;
      padding: 12px 20px 13px 20px;
      
  }

  .swiper-button-prev:after{
      color: #ffff;
  }

  @media screen and (max-width: 480px) {
      .mySwiper1{
          width: 100%;
          height: 60vh;
      }

      .button-seccion4{
        font-size: 16px;
        padding: 12px 12px 12px 12px;   
      }
      .ajusteCarrusel{
          height: 55vh;
      }

  }

@media (min-width: 480px) and (max-width: 768px) {

}


@media screen and (min-width:769px) {
  
}


  /***SECCION5****/


.ajusteFoto1-seccion5{
    border-radius:10px;
    width: 70%;
    height: 100%;
    margin: auto;
}
.mySwiper7{
    background-color: white !important;
    height: 100vh;
    width: 100%;
}
.mySwiper2{
    background-color: #1D2142 !important;
    width: 100%;
    height: 100vh;
    padding-top: 50px !important;
}
.seccion5-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-left: 155px;
}
.seccion5-Titulo {
    font-family: poppins,Sans-serif;
    font-size: 65px;
    font-weight: 400;
    line-height: 1.1em;
    color: #ffff;
    text-align: left;
    margin-bottom: 70px;
}
.seccion5-parrafo{
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.3em;
    text-align: left;
    margin-bottom: 90px;
}
.boton-seccion5{
    text-decoration: none;
    color: #b5b5b5 !important;
    font-family: "Poppins";
    font-size: 25px;
    text-align: left;
}
.button-seccion5{
    border-radius: 20px;
    border: #ffff 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mySwiper2-button-next{
    width: 600px !important;
    color: #ffff !important;
    
}
.swiper-button-prev.swiper-button-disabled{
    opacity: 0 !important;
}
.desactivacionSeccion5Mobi {
    display: none;
}

@media screen and (max-width: 480px) {
    .ajusteFoto1-seccion5{
        width: 70%;
        height: auto;
        margin: auto;
        border-radius: 20px;
    }
    .ajusteFotos-seccion5{
        width: 100%;
        height: auto;
    }
    .seccion5-flex{
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: auto;
        background-color: #1D2142;
        width: 80%;
        height: 40vh;
    }
    .seccion5-Titulo{
        font-size: 30px;
        margin-bottom: 15px;
        font-weight: 500;
    }
    .seccion5-parrafo{
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 200;
    }
    .boton-seccion5{
        font-size: 20px;
        color: #82AB29 !important;
    }
     .mySwiper2 {
       display: none;
    }
    .desactivacionSeccion5Mobi{
        height: 100vh;
        display: block;
        background-color: #1D2142;
    }
    .mySwiper2-mobile{
        display: block;
        width: 100%;
    }
    .tarjetaVerDesarrollos{
        width: 100%;
        height: 30vh;
        border: 1px #82AB29 solid;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        font-size: 20px;
        color: #82AB29;
        text-decoration: none;
        box-shadow: inset -8px -2px;
    }
    .ajusteswiper-mobile{
        margin: auto;
        width: 100%;
        height: 40vh;
        display: block;
        text-align: center;
    }
    .mySwiper7{
        display: none;
    }
   .swiperSlide-Seccion5{
       width: 100% !important;
       padding: 0% !important;

   }
   .flexFigure2{
       background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1651583108/DESARROLLOSGRUPODELSUD/la%20escondida/Logo-La-Escondida-fondo-transparente-con-sombra-17-1024x1024_uj96z1.png);
   }
}

@media screen and (max-width: 480px) {
    .ajusteFoto1-seccion5{
        width: 100%;
        height: auto;
        margin: auto;
        border-radius: 20px;
    }
    .ajusteFotos-seccion5{
        width: 100%;
        height: auto;
    }
    .seccion5-flex{
        display: flex;
        flex-direction: column;
        align-items: left !important;
        margin: auto;
        background-color: #1D2142;
        width: 85%;
        height: 40vh;
    }
    .seccion5-Titulo{
        font-size: 22px;
        margin-bottom: 15px;
    }
    .seccion5-parrafo{
        font-size: 16px;
        font-weight: 200;
        margin-bottom: 20px;
        text-align: left;
    }
    .boton-seccion5{
        font-size: 20px;
        color: #82AB29 !important;
        text-align: left;
    }
     .mySwiper2 {
       display: none;
    }
    .desactivacionSeccion5Mobi{
        height: 100vh;
        display: block;
        background-color: #1D2142;
    }
    .mySwiper2-mobile{
        display: block;
        width: 100%;
    }
    .tarjetaVerDesarrollos{
        width: 100%;
        height: 30vh;
        border: 1px #82AB29 solid;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        font-size: 20px;
        color: #82AB29;
        text-decoration: none;
        box-shadow: inset -8px -2px;
    }
    .ajusteswiper-mobile{
        margin: auto;
        width: 60%;
        display: block;
        text-align: center;
    }
    .mySwiper7{
        display: none;
    }
   .swiperSlide-Seccion5{
       width: 100% !important;
       padding: 0% !important;

   }
   .mySwiper5-mobile{
       width: 100%;
       height: 50vh;
   }
}


@media screen and (min-width:769px) {
  
}



/*****SECCION6******/
.CardSeccion6{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 80px;
}
.flexCardsSeccion6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #DADADA3D;
}
.bordeMedio{
    border-right: 1px solid #DADADA3D;
}
.ajusteMobileSeccion6{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 480px) {
    .CardSeccion6{
        width: 100%;
        height: 50vh;
        padding: 20px;
    }
    .flexCardsSeccion6 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 1px solid #DADADA3D;
        width: 100%;
        height: 40vh;
    }
    .card{
        width: 5rem !important;
    }
    .ajusteMobileSeccion6{
        width: 50%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bordeMedio{
        padding: 35px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .CardSeccion6{
        height: 100vh;
    }
    .flexCardsSeccion6{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width:769px) {
  
}


/*****SECCION7******/

.seccion7-flex{
    display: flex;
    flex-direction: column;
    width: 1600px;
    height: 100vh;
    margin: auto;
    justify-content: center;
}
.flexTop-seccion7{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1300px;
    margin: auto;
}
.maps{
    width: 100%;
    height: 700px;
}
.seccion7Titulo{
    color: #1D2142;
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.2em;
}

.ajusteSubtitulo-seccion7{
    margin-left: 13px;
    color: #B8B8B8;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 0em;
}
.flexSubtitulo-seccion7{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
.contenedor-maps{
    margin-top: 40px;
    width: 1300px;
    margin: auto;
}
@media screen and (max-width: 480px) {
    .seccion7-flex{
        width: 100%;
        height: auto;
    }
    .flexTop-seccion7{
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 20px 0px 20px; 
    }
    .seccion7Titulo{
        font-size: 18px;
        padding-left: 15px;
    }
    .flexSubtitulo-seccion7{
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
   /*maps*/
   .contenedor-maps{
       width: 100%;
       height: 50vh !important;
       display: flex;
       padding: 15px;
   }
   .slider-empresas{
       width: 100%;
       margin: auto;
   }
   .ajusteSubtitulo-seccion7{
    font-size: 13px !important;
}
}

@media (min-width: 480px) and (max-width: 768px) {
    .seccion7-flex{
        width: 100%;
        height: 100vh;
    }
    .flexTop-seccion7{
        width: 100%;
    }
    .contenedor-maps{
        width: 100%;
    }
    .titulo-contenedor{
        width: 100% !important;
    }
}

@media (min-width: 768px) and (max-width: 1500px) {
   
}



/*********SECCION8*********/

.swiper-slide{
    padding: 30px 0px 30px 0px;
    align-items: center!important;
}
.slider-empresas-contenedor{
    margin-bottom: 50px;
    /* background-color: #f4f4f6; */
    width: 100%;
    height: 400px;
}

.empresa-logo{
    display: flex;
    justify-content: center ;
    height: 140px;
    border-radius: 8px;
    background-color: white;
   box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 10%);  
}

.slider-empresas{  
    display: flex!important;
    align-items: center!important;
    height: 100%;
    max-width: 1400px;
}

.empresa-logo img{
    width: 100%;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.empresa-logo img:hover{
    -webkit-filter:none; 
    filter: none;
}

.empresa-logo:hover{
    transform: scale(1.1); 
    transition: 0.5s;
  
}
.titulo-seccion8{
    color: #1D2142;
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2em;
}
.titulo-contenedor{
    width: 1300px;
    margin: auto;
}
.contenedorPapi{
    width: 1600px;
    height: 40vh;
    padding-top: 90px;
    margin: auto;
}

@media screen and (max-width: 480px) {
    .contenedorPapi{
        width: 100%;
        padding: 20px;
    }
    .titulo-contenedor{
        width: 100%;
        padding: 30px;
    }
    .slider-empresas-contenedor{
     height: 30vh;

    }
    .titulo-seccion8{
        font-size: 15px;
        font-weight: 400;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
.contenedorPapi{
    width: 100%;
}
}


@media (min-width: 768px) and (max-width: 1500px) {
    .slider-empresas-contenedor{
        height: auto;
        width: 100%;
    }
    .contenedorPapi{
        width: 100%;
    }
}



  /***SECCION9*****/
  .seccion9-contenedor{
    width: 100%;
    height: 30vh;
    margin: auto;
    background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1647363760/DESARROLLOSGRUPODELSUD/Frame_z0lj4q.svg);
    background-size: cover;
    margin-top: 50px;
}
.seccion9-texto {
    text-align: center;
    text-align: center;
    color: #808080;
    font-family: "Poppins", Sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 1em;
}

.dividir{
    padding: 75px 0px 120px 0px;
}


@media screen and (max-width: 480px) {
    .seccion9-texto{
        font-size: 20px;
        font-weight: 200;
    }
    .seccion9-contenedor{
        height: 20vh;
    }
    .dividir{
        padding: 0;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    .seccion9-contenedor{
        padding:0;
    }
    .dividir{
        padding: 0;
    }
    .seccion9-texto{
        font-size: 25px;
    }
}

/*****SECCION10******/
.accordion-flex{
    width: 1300px;
    margin: auto;
    padding: 100px 0px 20px 0px;
}
.accordion-button{
    color: #1D2142 !important;
    font-size: 50px !important;
    font-family: "Poppins", Sans-serif !important;
    font-weight: 400 !important;
    
}
.accordion-item{
    border: 0 !important;
}
.accordion-button::after{
    background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1648563794/DESARROLLOSGRUPODELSUD/2_yejmuy.svg) !important;
    
}
.accordion-button:not(.collapsed)::after{
    background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1648562856/DESARROLLOSGRUPODELSUD/uamrmr0qempucahch23w.svg) !important;
    transform: rotate(135deg) !important;
    color: greenyellow !important;
}
.accordion-button:focus{
    border-color: #FFFFFF !important;
    outline: 0;
    box-shadow: none !important;
}
.accordion-button:not(.collapsed){
    color: #1D2142 !important;
    background-color: #FFFFFF !important; 
    box-shadow: none !important;
}
.accordion-header {
    border-bottom: 2px #1D2142 solid !important;
}
/****seccion10-form****/
.flex-formulario{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
.inputs-form1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inputs-form2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inputInicio-form{
    border: 0 !important;
    border-bottom: #828282 1px solid !important;
    font-size: 20px;
    font-family: "Poppins", Sans-serif !important;
    height: 10%;
    width: 80%;
}
.textarea-formularioInicio{
    outline: 0 !important;
    border-radius: 10px;
    resize: none !important;
    width: 100%;
    height: 50%;
    font-size: 25px;
    font-family: 'Poppins';

}
.buttonFormInicio{

    height: auto;
    font-size: 25px;
    font-family: 'Poppins';
}
.flexButtonFormInicio{
    display: flex;
    flex-direction: flex-end;

}
@media screen and (max-width: 480px) {
    .accordion-flex{
        width: 100%;
        padding: 0;
    }
   .accordion-button{
       font-size: 19px !important;
       font-weight: 300 !important;
   }
   .buttonFormInicio{
       font-size: 15px;
   }
   .inputInicio-form{
       font-size: 15px;
       height: 25%;
       width: 100%;
   }
   .buttonFormInicio{
       font-size: 15px; 
       background-color: #82AB1B;   
       border-radius: 10px;
       margin-top: 10px;
   }
   .flex-formulario{
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin: auto;
   }
   .inputs-form1{
       width: 100%;
       height: 30vh;
   }
   .inputs-form2{
       width: 100%;
   }
   .fontSubtituloForm{
       font-size: 15px;
   }
   .textarea-formularioInicio{
       font-size: 15px;
       padding: 10px;
   }
}

@media (min-width: 480px) and (max-width: 768px) {
 
    .accordion-flex{
        width: 100%;
    }
}