.inicio-lasorianas{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #1D2142 0%, #1D214200 32%), url(https://res.cloudinary.com/grupo-delsud/image/upload/v1649690560/DESARROLLOSGRUPODELSUD/inicio_victorias_g5j4k1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagenletras-lasorianas{
    width: 1300px;
    margin: auto;
}
/*SECCION1*/

.seccion1-lasorianas{
    width: 100%;
    height: 100vh;
    margin: auto;
   
    display: flex;
    flex-direction: row;
}

.cont-lasorianas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.texto1-lasorianas{
    width: 50%;
    margin:auto !important;
    
}
.texto2-lasorianas{
    width: 50%;
    margin: auto;
    justify-content: center;
    display: flex;
}
.tituloSeccion1-lasorianas{
    width: 50%;
    display: flex;
    flex-direction: column;
  

    text-align: left;
    color: #1D2142;
    font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2em;
}
.subCont-lasorianas{
    width: 70%;
    margin: auto;
}

.parrafoSeccion1-lasorianas{
    text-align: left;
    color: #646464;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.25em;
    margin-top: 50px;
}
.imagenSeccion1lasorianas{
    height: 640px;
    width: 640px;
    border-radius: 10px !important;
}
.boton-seccion2-lasorianas{
    font-family: "Mabry Pro", Sans-serif;
    font-size: 0.4em;
    font-weight: 300;
    line-height: 1em;
    letter-spacing: 0.2px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #82AB1B;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 30px 30px 30px 30px;
    padding: 12px 20px 13px 20px
}
/* secccionnn3 */
.flex-seccion3-lasorianas{
    width: 100%;
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: #7a7a7a 1px solid;
    border-top: #7a7a7a 1px solid;
    z-index: 99;
}
.ajustenav-lasorianas{
    padding: 25px
}
.fontnav-lasorianas{
    font-family: "Mabry Pro", Sans-serif !important;
    font-size: 1.3em;
    font-weight: 400;
    color: #7a7a7a !important;
}
/* SECCION4*/
/* .maps2{
    margin-top: -50px;
    width: 100%;
    z-index: 98;
    height: 100vh;
} */
.seccion4-lasorianas{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.flex1-lasorianas{
    display: flex;
}

.maps-lasorianas{
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
    width: 50%;
}
.fotitoProyecto-lasorianas{
    background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1649693005/DESARROLLOSGRUPODELSUD/planoOrianas-1-scaled_ricuel.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
}
.back-imagen3-lasorianas{
    background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1649693005/DESARROLLOSGRUPODELSUD/lomas-01-2_omilhz.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
}
.fotitoProyecto4-lasorianas{
    background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1649627419/DESARROLLOSGRUPODELSUD/businesspeople-shaking-hands_1_umpbig.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
}

.seccion4texto-lasorianas{
    width: 50%;

}
.seccion4-font-lasorianas{
    color: #ADADAD;
    font-family: "Mabry Pro", Sans-serif;
    font-size: 75px;
    font-weight: 200;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    margin: 100px 0px 100px 0px
}
.seccion4-subtitulo-lasorianas{
    color: #1D2142;
    font-family: "Raleway", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 50px;
}
.parrafo-seccion4-lasorianas{
    text-align: left;
    font-family: "Raleway", Sans-serif;
    font-size: 23px;
    color: #646464;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    line-height: 1.25em;
    margin-bottom: 50px;
}
.seccion4-subtitulo2-lasorianas{
    color: #1D2142;
    font-family: "Raleway", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 0.1em;
    margin-bottom: 30px;
}
.ulSeccion4-lasorianas{
    color:#ADADAD;
    font-family: "Raleway", Sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 30px;
}
.box-seccion4-lasorianas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:14px;
    border-color: #ffff;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 18%);
}
.flex-iconos4-lasorianas{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    padding: 10px;
}
.icono4-lasorianas{
    margin-right: 20px;
}
.bordertop-iconos4-lasorianas{
    border-top: #7a7a7a 1px solid;
}
.borderbottom-seccion4-lasorianas{
    border-bottom: #7a7a7a 1px solid;
}
.bordermedios-iconos4-lasorianas{
    border-top:#7a7a7a 1px solid ;
    border-bottom: #7a7a7a 1px solid;
}
.font-seccion3-servicios-lasorianas{
    color: #1D2142;
    padding-left: 30px;
    font-family: "Raleway", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1em;
}
.box-font-seccion2-lasorianas{
    text-align: center;
    color: #1D2142;
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgb(0 0 0 / 25%) !important;
}
.boton-desarrollo-lasorianas{
    font-family: "Mabry Pro", Sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 1em;
    letter-spacing: 0.2px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #82AB1B;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 30px 30px 30px 30px;
    padding: 12px 20px 13px 20px
}

/*SECCION SWIPERRRR*/
.swiper-slide-loteos{
    width: 900px;
    height: 500px;
    border-radius: 10px;
    padding: 10px !important;
}
.mySwiperLoteos{
    padding: 100px !important;
}
.subtitulo-slide-loteos{
    color: #1D2142;
    font-family: "Raleway", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2em;
}
.flex-slide-loteos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}
.swiper-button-next{
    color: transparent !important;
    background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1649699805/DESARROLLOSGRUPODELSUD/--_cpdicd.svg) !important;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10% !important;
}
.swiper-button-prev:after {
    color: transparent !important;
    background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1649700592/DESARROLLOSGRUPODELSUD/asasa_uulliy.svg) !important;
    background-size: auto;
    width: 380px;
}







/* mediassss*/

@media screen and (max-width: 480px) {
    .inicio-lasorianas{
        width: 100%;
        height: 100vh;
        background-size: cover;
    }
    .imagenletras-lasorianas{
      width: 100%;
      height: 100vh;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    .imagenIniciolasorianas{
        width: 60%;
        padding: 0px 0px 0px 30px;
    }
    .cont-lasorianas{
      width: 100%;
      height: 100vh;
      margin: auto;
      display: flex;
      flex-direction: column;
  
  }
  .tituloSeccion1-lasorianas{
      width: 100%;
      height: 55vh;
  }
  .texto2-lasorianas{
      width: 100%;
      height: 50vh;
  }
  .imagenSeccion1lasorianas{
      width: 100%;
      height: 50vh;
  }
  .subCont-lasorianas{
      width: 85%;
  }
  .parrafoSeccion1-lasorianas{
       font-size: 16px;
       margin-top: 25px;
  }
  .titulo-lasorianas-seccion2{
      font-size: 35px;
      line-height: 30px;
  }
  .boton-seccion2-lasorianas{
      font-size: 0.3em;
  }
  .desactivacionMobile-lasorianas{
      display: none;
  }
  .seccion4-lasorianas{
      display: flex;
  }
  .seccion4texto-lasorianas{
      width: 100%;
      height: 60vh;
  }
  .flex1-lasorianas{
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column-reverse;
      padding: 0px 0px 0px 26px;
      border-radius: 10px 0px 0px 10px;
  }
  .ajusteMobile-lasorianas{
      width: 85% !important;
  }
  .maps-lasorianas{
      width: 100%;
      height: 60vh;
      display: flex;
  }
   .fotitoProyecto4-lasorianas{
       width: 100%;
   }
   .back-imagen3-lasorianas{
       width: 100%;
   }
   .fotitoProyecto-lasorianas{
       width: 100%;
   }
   .parrafo-seccion4-lasorianas{
       font-size: 16px;
   }
   .ulSeccion4-lasorianas{
       font-size: 16px;
   }
   .seccion4-font-lasorianas{
       font-size: 40px;
       margin: 40px 0px 40px 0px;
   }
   .seccion4-subtitulo2-lasorianas{
       font-size: 18px;
  
   }
   .seccion4-subtitulo-lasorianas{
        font-size: 25px;
        margin-bottom: 25px;
   }
  
   .box-seccion4-lasorianas{
    align-items: center;
    justify-content: space-around;
    padding: 20px;
   }
   .marginBoton-lasorianas{
      margin-bottom: 50px;
  }
  .subtitulo-slide-loteos{
      font-size: 22px !important;
  }
  .container2Seccion4{
      width: 85% !important;
  }
  .container3Seccion4{
      width: 85% !important;
  }
  .container4Seccion4{
      width: 85% !important;
  }
  .ajusteMobileIframe{
      height: 60vh !important;
  }
  .font-seccion3-servicios-lasorianas{
      font-size: 16px;
  }
  .flex-iconos4-lasorianas{
      padding: 5px;
  }
  .boton-desarrollo-lasorianas{
      font-size: 18px;
  }
  
  }