a{
    text-decoration: none !important;
}

.navBar2{
    background-color: white;
    height: 80px;
    border-bottom: #1D2142 1px solid;
    
}
.Items2{
    padding: 20px 25px;
    font-weight: 300;
    font-size: 1.2em;
    color: #1D2142 !important;
    text-decoration: none;
}
.Items3-hablemos{
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
}
.navbar-light .navbar-toggler-icon{
    background-image: url(https://res.cloudinary.com/desarrollogrupodelsud/image/upload/v1657731135/DESARROLLOSGRUPODELSUD_2022-07-13_08_54/barras-de-menu-de-la-derecha_1_uah0sq.png) !important;
}
.imagenRedesNav2{
    width: 60px !important;
}


.ItemVerde{
    padding: 20px 25px;
    font-weight: 300;
    font-size: 1.2em;
    color: #82AB1B !important;
}
.ItemVerde a{
    color: #82AB1B !important;
    border-bottom: 2px #82AB1B solid;
}

.navbar-light .navbar-toggler-icon{
    filter: invert(1);
}
.mobile-nav{
    display: none !important;
}
.offcanvas{
    background-color: #1D2142 !important;
}
.offcanvas-title{
    padding-left: 25px !important;
}
.offcanvas-title2{
    padding-left: 7px !important;
}
.btn-close{
    filter: invert(1) !important;
}

@media (max-width: 480px) { 
    .navBar2{
        width: 100%;
        
    }
    .Items2{
        font-size: 22px;
        color: white !important;
        padding: 20px 0px 10px 50px;
    }
    .Items2Link {
        color: white;
        text-decoration: none;
    }
    .mobile-nav .container-fluid{
        width: 80% !important;
    }

    .me-auto{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
        .me-auto.navbar-nav{
            height: 80% !important;
        }
        .redesWhite{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 80%;
            padding-top: 50px
        }
        .imagenRedesNav2{   
             width: 30px !important;
             
        }
        .paddingLogo{
            padding-left: 40px;
        }
        .navbar-light .navbar-toggler-icon{
            filter:none;
            width: 20px;
        }
        .mobile-nav{
            display: block !important;
            display: flex !important;
            width: 80% !important;
        }
        .navbarDisable{
            display: none !important;
        }
        .bordesRedondos{
            border: 1px solid white;
            border-radius: 50%;
            padding: 13px;
        }
}
@media (min-width: 768px) and (max-width: 1199px) { 
     .navbar{
        flex-wrap: none !important;
     }

}
@media (min-width: 768px) and (max-width: 2000px) { 
    .redesWhite{
        display: none !important;
    }
    .redesNav{
        display: none !important;
    }
    .Items2Link {
        color: #1D2142 !important;
    }
}
