.navBarItems {
    padding: 20px 25px;
    font-size: 1.2em; 
    font-family: "Poppins";
    font-weight: 200 !important;
    color: white !important;
}

.bg-ligth {
    background-color: transparent !important;
}
.navbar {
    border-bottom: white 1px solid;
}

/*SCROLL TOP*/
.navbar77{
    
    color: white !important;
}
.navbar77 a{    
    color: white !important;
    text-decoration: none!important;
}

/*SCROLL DOWN*/
.navbar777 {
    background: white;
    border-bottom: 1px solid #1D2142;
    color: white !important;

}

.navbar777 a{

    background-color: rgba(186,0,0,0);
    color: #1D2142 !important;
}

a{
    color: white;
    font-weight: 300;
    font-family: Poppins;
}
.nav777 .navbar-light .navbar-toggler-icon{
    width: 10%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAABhElEQVR4nO3asUoDQRSF4f+KIoiChUhAC7tgYyERK0UQfAFbC0G09XkEG7EVfIAEglgIQRutBLGysRMVC4m5Fmu/M2F3dtXz1QfuyZAlw82CiIiIyD9loUF33wBWS+xSlA/gxMxeQ8KjISF3XwDaofkaWAL2Q4IjJRepiocGYx6BdWCL+n8LnoFjM3uruoiIiNRd8M9gEdx9DJgvee4AeDKzfkg42QG4ewO4BuYSjLsHWmb2nhdMeRNskebDAzSBxZBgyltdBzgDlhPM6gI3CeaIiIj8ZjEboVngEJgpr04hvoC2mZ2HhGMO4BTYGbZVYgOgaWYPecGYq/DL8H2S+yRbj+eK+QaMA9vA5JClUroys7uqS4iIiEjG3afdveflG7h75+fekivlUnQNWEkwx4BNsncEcqU8gEugl2COky1gbxPMEhER+c1iNkJTwC4wUV6dwvTMrBsSjDmAI+Bg6Epp9cmWoo95wb/6pmiw2EdgD2iUV6cQfbL/BS6qLiIiIiJSa9/anrxcSV3KxwAAAABJRU5ErkJggg==) !important;
}
.navbar-toggler-icon{
    background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1656428089/DESARROLLOSGRUPODELSUD/icons8-hamburger-64_fsuow8.png) !important;
}


.redesNav{
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: 75%;
 padding-top: 50px;
}
.imagenRedes{
    width: 60px;
    filter: invert(1);
    padding-top: 50px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
}

  

/*mediasssss*/
@media (max-width: 768px) {
   .navbar-collapse{
    align-items: none !important;   
    justify-content: end !important;
    flex-grow: 0 !important;
    background-color: white;
   }
    .navbar77 .me-auto{
       margin-right: none !important;
       background-color: #1D2142;
       height: 100vh !important;
       display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .navbar77 .container{
     padding: 0%;
   }
   .navbar777 .container{
    padding: 0%;
  }
   .navbar777 .me-auto{
    margin-right: none !important;
    background-color: #1D2142;
    height: 100vh !important;
    display: flex;
 flex-direction: column;
 justify-content: center;
   }
   .navbar777 a{

    background-color: rgba(186,0,0,0);
    color: white !important;
    padding: 5px; 
}
.navbar77 a{

    background-color: rgba(186,0,0,0);
    color: white !important;
    padding: 5px; 
}
    .fotoInicio{
        width: 100%;
    }
    .navBarItems{
        padding: 20px 0px 10px 50px;
        font-size: 25px;
    }
    
}

@media screen and (min-width:801px) {
    .navbar{
        width: 100%;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        justify-content: flex-end;
        flex-basis: auto;
    }
    
}

@media (min-width: 768px) and (max-width: 1199px) { 
    .redesNav{
        display: none;
    }
}
@media only screen and (min-width: 1200px) {
    .navbar-collapse {
        align-items: flex-end !important; 
        flex-grow: 0 !important;
        
    }
    .me-auto{
        margin-right: none !important;
    }
  }
  @media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1550px !important;
    }
}

@media (min-width: 1200px) and (max-width: 2000px) { 
    .redesNav{
        display: none;
    }
  }