.navBarItems {
    padding: 20px 25px;
    font-size: 1.2em; 
    font-family: "Poppins";
    font-weight: 200 !important;
    color: white !important;
}

.bg-ligth {
    background-color: transparent !important;
}
.navbar {
    border-bottom: white 1px solid;
}

/*SCROLL TOP*/
.navbar77{
    
    color: white !important;
}
.navbar77 a{    
    color: white !important;
    text-decoration: none!important;
}

/*SCROLL DOWN*/
.navbar777 {
    background: white;
    border-bottom: 1px solid #1D2142;
    color: white !important;

}

.navbar777 a{

    background-color: rgba(186,0,0,0);
    color: #1D2142 !important;
}

a{
    color: white;
    font-weight: 300;
    font-family: Poppins;
}
.nav777 .navbar-light .navbar-toggler-icon{
    width: 10%;
    background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1653157930/DESARROLLOSGRUPODELSUD/barras-de-menu-de-la-derecha_3_e7qmrs.png) !important;
}
.navbar-light .navbar-toggler-icon{
    background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1653157749/DESARROLLOSGRUPODELSUD/barras-de-menu-de-la-derecha_2_xth9tn.png) !important;
}


.redesNav{
 display: flex;
 flex-direction: row;
 justify-content: center;
 padding: 50px 150px 50px 0px;
}
.imagenRedes{
    width: 60px;
}


@media (max-width: 480px) { 
}
  @media (max-width: 767px) { 

  }
  @media (min-width: 768px) and (max-width: 1199px) { 
.redesNav{
    display: none;
}
  }


  
@media (min-width: 1200px) and (max-width: 2000px) { 
    .redesNav{
        display: none;
    }
  }
/*mediasssss*/
@media (max-width: 768px) {
   .navbar-collapse{
    align-items: none !important;   
    justify-content: end !important;
    flex-grow: 0 !important;
    background-color: white;
   }
    .navbar77 .me-auto{
       margin-right: none !important;
       background-color: #1D2142;
       height: 100vh !important;
       display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .navbar77 .container{
     padding: 0%;
   }
   .navbar777 .me-auto{
      background-color: white;
      height: 100vh !important;
      width: 100%;
      display: flex;
    flex-direction: column;
    justify-content: center;
   }
    .fotoInicio{
        width: 100%;
    }
}
@media only screen and (min-width: 1200px) {
    .navbar-collapse {
        align-items: flex-end !important; 
        flex-grow: 0 !important;
        
    }
    .me-auto{
        margin-right: none !important;
    }
  }
  @media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        justify-content: flex-end;
        flex-basis: auto;
    }
    
}
@media screen and (min-width:801px) {
    .navbar{
        width: 100%;
    }
}