.rs-modal-content {

    padding:0 !important;
}

.rs-modal-wrapper {
 bottom: 0 !important;
 top: 0px !important;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.swiper-button-next{
    color: transparent !important;
    background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1655149801/DESARROLLOSGRUPODELSUD/Group-178_bbov0q.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 10% !important;
    width: 10% !important;
}
.swiper-button-prev{
    color:transparent !important;
    background-image: url(https://res.cloudinary.com/grupo-delsud/image/upload/v1655149801/DESARROLLOSGRUPODELSUD/Group-178_bbov0q.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 10% !important;
    width: 10% !important;
    transform: rotate(180deg);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }


