
a{
    text-decoration: none !important;
}
.rs-modal-content {

    padding:0 !important;
}

.box3, .navbar{
    padding-bottom: 0px !important;
}

.rs-modal-wrapper {
 bottom: 0 !important;
 top: 0px !important;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.swiper-button-next{
    color: transparent !important;
    background-image: url(https://res.cloudinary.com/desarrollogrupodelsud/image/upload/v1657715494/DESARROLLOSGRUPODELSUD_2022-07-13_08_54/Group-178_bbov0q_lyx2dt.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 10% !important;
    width: 10% !important;
}
.swiper-button-prev{
    color:transparent !important;
    background-image: url(https://res.cloudinary.com/desarrollogrupodelsud/image/upload/v1657715494/DESARROLLOSGRUPODELSUD_2022-07-13_08_54/Group-178_bbov0q_lyx2dt.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 10% !important;
    width: 10% !important;
    transform: rotate(180deg) !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


input[type=number] { -moz-appearance:textfield; }

@media (max-width: 768px) {
    .iframeMaps{
        height: 400px !important;
    }

    .boton-seccion5{
        color: rgb(130,171,41) !important;
    }

}
